# File path: /etc/systemd/system/tokenHub.service
# sudo systemctl daemon-reload
# sudo systemctl start tokenHub
# sudo systemctl enable tokenHub
# sudo systemctl status tokenHub
[Unit]
Description=One API Service
After=network.target

[Service]
User=ubuntu  # 注意修改用户名
WorkingDirectory=/path/to/tokenHub  # 注意修改路径
ExecStart=/path/to/tokenHub/tokenHub --port 3000 --log-dir /path/to/tokenHub/logs  # 注意修改路径和端口号
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
